<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My_Test_Suite" preserve-order="true" verbose="2">
    <!-- test listeners -->
    <listeners>
        <listener class-name="com.company.searchui.utils.TestNG_Listener" />
        <listener class-name="com.company.searchui.utils.TestNG_Reporter" />
    </listeners>

</suite>